@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
tr {
    border-bottom: 1px solid gray;
}
th, td {
    padding: 8px;
}
.text-red {
    color: red;
}
.button {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: blue;
}
.select {
    margin: 5px;
}
